

img{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1999;
  width: 100%;
}
h1 {
  font-size: 20px;
  color: lightblue;
}

#myChart {
  margin: 40px auto;

}
.cityname{
  width: 180px;
}
.card {
  width: 1000px;
  margin: 0 auto;
}
